body{
  position: relative;
  width:100vw;
  height:100vh;
  font-size: 18px;
  color: rgb(49, 194, 124);
}

.musicbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  padding: 15px;
  border: 1px solid rgb(49, 194, 124);
}

.music-panel .button{
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

.music-panel .info{
  text-align: center;
  float: right;
}

.music-panel .info .title{
  font-size: 20px;
}

.music-panel .info .author{
  margin-top: 15px;
}

/* .musicbox .progress .timebar{
  position: relative;
} */

.musicbox .progress .progress-total{
  margin-top: 20px;
  height: 3px;
  background-color: lightgray;
}

.musicbox .progress .progress-now{
  position: relative;
  top:-3px;
  width: 1%;
  height: 3px;
  background-color: rgb(49, 194, 124);
}

.musicbox .progress .current-time{
  margin-top: 20px;
  float: right;
}