body{
  position: relative;
  width:100vw;
  height:100vh;
  font-size: 18px;
  color: rgb(49, 194, 124);
}

.cover{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://starkjx.github.io/musicPlayer/img/IMG_0138.JPG") center center no-repeat;
  background-size: cover;
  filter: blur(3px);
}
.musicbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  padding: 15px;
  border: 1px solid rgb(49, 194, 124);
  background-color:  rgb(30, 32, 31);
  opacity: 0.7;
  
}

.music-panel .button{
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

.music-panel .info{
  text-align: center;
  float: right;
}

.music-panel .info .title{
  font-size: 20px;
}

.music-panel .info .author{
  margin-top: 15px;
}

/* .musicbox .progress .timebar{
  position: relative;
} */

.musicbox .progress .progress-total{
  margin-top: 20px;
  height: 3px;
  background-color: lightgray;
}

.musicbox .progress .progress-now{
  position: relative;
  top:-3px;
  width: 1%;
  height: 3px;
  background-color: rgb(49, 194, 124);
}

.musicbox .progress .current-time{
  margin-top: 20px;
  float: right;
}

.musicbox .list-panel{
  /* background-color: rgb(243, 233, 233); */
  margin-top: 20px;
}

.musicbox .list-panel li{
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.musicbox .list-panel li:hover,
.music-panel .iconfont:hover{
  opacity: 0.5;
}

